/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/* Common Css */

body{
    font-family: 'Poppins', sans-serif;
}

.btn-custom{
    background-color: #21b573;
    color: #fff;
    font-size: 18px;
}

.btn-custom:hover{
    background-color: #009150;
    color: #fff;
    outline: none;
}

.second-heading{
    font-size: 45px;
    font-weight: 600;
}

/* Style Header Part */

.slider{
    position: relative;
}

.slider-item::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #282828;
    opacity: .7;
}

.slider-text{
    position: absolute;
    left: 50%;
    top: 50%;
    right: 0;
    bottom: 0;
    transform: translate(-50%,-50%);
}

.slider-text h1{
    font-size: 60px;
}


/* Media Query Css */

/* Responsive Mobile Devices */

@media only screen and (max-width:576px) {

    .second-heading{
        font-size: 24px;
    }

    .course-item{
        display: flex;
        flex-direction: column;
    }

    .course-item img{
        width: 100%;
        margin-bottom: 30px;
    }
    
    .register-heading{
        text-align: center;
    }

    .register-button{
        margin-bottom: 30px;
    }

    #trusted-companies{
        display: none;
    }

    .btn-custom{
        padding: 8px 20px;
    }
}