/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/* Common Css */

body {
    font-family: 'Poppins', sans-serif;
}

.btn-primary {
    padding: 13px 40px;
    font-weight: 600;
}

.second-heading {
    font-size: 45px;
    font-weight: 600;
}

/* Style Header Part */

.slider {
    position: relative;
}

.slider-item::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #282828;
    opacity: .7;
}

.slider-text {
    position: absolute;
    left: 50%;
    top: 50%;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%);
}

.slider-text h1 {
    font-size: 60px;
}


/* Media Query Css */

/* Responsive Mobile Devices */

@media only screen and (max-width:576px) {

    .slider-text {
        position: absolute;
        left: 50%;
        top: 40%;
        right: 0;
        bottom: 0;
    }

    .slider-text p {
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .header-paragraph {
        overflow: hidden;
        max-width: 150px;
        margin: auto;
    }

    .slider-text h1 {
        font-size: 25px;
    }

    .second-heading {
        font-size: 24px;
    }

    .course-item {
        flex-direction: column;
    }

    .course-item img {
        width: 100%;
        margin-bottom: 30px;
    }

    .register-heading {
        text-align: center;
    }

    .register-button {
        margin-bottom: 30px;
    }

    .student-info {
        text-align: center;
    }

    .btn-primary {
        padding: 8px 20px;
    }
}


@media only screen and (min-width:577px) and (max-width:767px) {

    .slider-text {
        position: absolute;
        left: 50%;
        top: 40%;
        right: 0;
        bottom: 0;
    }

    .slider-text h1 {
        font-size: 30px;
    }

    .slider-text p {
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .header-paragraph {
        overflow: hidden;
        max-width: 250px;
        margin: auto;
    }

    .btn-primary {
        padding: 8px 20px;
    }

    .second-heading {
        font-size: 28px;
    }

    .register-heading {
        text-align: center;
    }

    .register-button {
        margin-bottom: 30px;
    }

}


/* Responsive Tab Devices */

@media only screen and (min-width:768px) and (max-width:991px) {

    .slider-text h1 {
        font-size: 40px;
    }

    .slider-text {
        top: 40%;
    }

    .second-heading {
        font-size: 32px;
    }

    .register-heading {
        text-align: center;
    }

    .register-button {
        margin-bottom: 30px;
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {

    .slider-text h1 {
        font-size: 50px;
    }

    .second-heading {
        font-size: 40px;
    }

}